/* === SCHEDULE === */

.schedule {
  border-spacing:0;
}
.schedule__cell {
  padding: 14px 14px 10px;
  border-bottom: 1px solid #f3f0f0;
  font-weight: 500;
  &.time {
    font-weight: 500;
    span {
      font-size: .7em;
      font-weight: 300;
      color: $cell_secondary;
      text-transform: uppercase;
    } 
  }
  .cell__loc {
    font-size: .9em;
    font-weight: 300;
    color: $cell_secondary;
  }
  .cell__cat {
    margin-top: 14px;
    border-radius: 10px;
    color: #fff;
    padding: 4px 10px;
    display: inline-block;
    font-size: 12px;
  
    &.customer {border: 1px solid #4CAF50; background: #4CAF50;}
    &.break-meals{border: 1px solid #9e9e9e; background: #9e9e9e;}
    &.travel-registration {border: 1px solid blueviolet; background: blueviolet;}
    &.pegaworld {border: 1px solid #2196f3; background: #2196f3;}
    &.mobile {border: 1px solid #ff9800; background: #ff9800;}
    &.ucd {border: 1px solid #ff4383; background: #ff4383;}
  }

}