/* === TYPOGRAPHY === */

@media(min-width: 280px) {
  body {font-size: 14px; color:$content; font-family: 'Open Sans', sans-serif;}
  h1 {font-size: 19px; }
  h2 {font-size: 17px;}
  h3 {font-size: 15.5px; font-weight: 300;}
}