/* === SCHEDULE === */
@media(min-width: 280px) {

.schedule {
  border-spacing:0;
  width: 100%;
}
tr.hidden {
  height: 0;
}
thead {
  display: none;
}
.schedule__cell {
  border-bottom: 1px solid $borders;
  font-weight: 500;
  &:nth-child(even) {padding: 14px 14px 10px 7px;}
  &:nth-child(odd) {padding: 14px 14px 10px;}
  &:nth-child(3) {border-left: 1px solid $borders;}
  &.time {
    font-weight: 500;
    span {
      font-size: 11px;
      font-weight: 300;
      color: $label;
      text-transform: uppercase;
    } 
  }
  .cell__loc {
    font-size: 13px;
    font-weight: 300;
    color: $label;
  }
  .cell__cat {
    margin-top: 14px;
    border-radius: 10px;
    color: #fff;
    padding: 4px 10px;
    display: inline-block;
    font-size: 12px;
  
    &.customer {border: 1px solid #20AA50; background: #20AA50;}
    &.break-meals{border: 1px solid #585B73; background: #585B73;}
    &.travel-registration {border: 1px solid #FD6000; background: #FD6000;}
    &.pegaworld {border: 1px solid #295ED9; background: #295ED9;}
    &.mobile {border: 1px solid #FEB53A; background: #FEB53A;}
    &.user-centered-design {border: 1px solid #E10B81; background: #E10B81;}
  }

}
}

@media(min-width: 1190px) {
  .timeline {
    display: flex;
  }
  .day {
    border-right: 1px solid $borders;
  }
  thead {
    display: table-header-group;
  }
  thead th {
    text-transform: uppercase;
    border-bottom: 2px solid $borders;
    padding: 14px 0;
    background-color: $app_bkg;
  }
  .days {display: none;}
}